<h1>Beer Club Memberships</h1>

<% if @memberships.empty? %>
  <p>No memberships exist.</p>
<% else %>
  <p>Number of memberships: <%= @memberships.count %></p>

  <ul>
    <% @memberships.each do |membership| %>
      <li>
        <%= membership.beer_club %>
        <%= link_to membership.user.username, membership.user %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Join a club', new_membership_path %>
