<h1>Users</h1>

<% if @users.empty? %>
  <p>No users exist.</p>
<% else %>
  <p>Number of users: <%= @users.count %></p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Username</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user %></td>
          <td>
            <% if user.disabled && admin_user %>
              <span class="label label-info">account disabled</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
