<h1>Ratings</h1>

<% if @ratings.empty? %>
  <p>No ratings exist.</p>
<% else %>
  <p>Number of ratings: <%= @ratings.count %></p>

  <ul>
    <% @ratings.each do |rating| %>
      <li>
        <%= rating %>
        <%= link_to rating.user.username, rating.user %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless current_user.nil? %>
  <%= link_to 'New rating', new_rating_path %>
<% end %>
