<h1>Ratings</h1>

<% if @ratings.empty? %>
  <p>No ratings exist.</p>
<% else %>
  <p>Number of ratings: <%= @ratings.count %></p>

  <ul>
    <% @ratings.each do |rating| %>
      <li>
        <%= rating %>
        <%= link_to rating.user.username, rating.user %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New Rating', new_rating_path, class: "btn btn-primary" if current_user %>
