<h2>Breweries</h2>

<div ng-app="rateBeer" ng-controller="BreweriesController">
  <p>
    search: <input ng-model="searchText">
  </p>

  <table class="table table-hover">
    <thead>
      <th><a ng-click="sort_by('name')">name</a></th>
      <th><a ng-click="sort_by('year')">year</a></th>
      <th><a ng-click="sort_by('beers.count')">beer count</a></th>
      <th><a ng-click="sort_by('active')">status</a></th>
    </thead>
    <tr ng-repeat="brewery in breweries| orderBy:order | filter:searchText">
      <td>{{brewery.name}}</td>
      <td>{{brewery.year}}</td>
      <td>{{brewery.beers.count}}</td>
      <td>{{brewery.active ? 'active' : 'retired'}}</td>
    </tr>
  </table>

</div>