<h2>Beers</h2>

<div ng-app="rateBeer" ng-controller="BeersController">
  <p>
    search: <input ng-model="searchText">
  </p>

  <table class="table table-hover">
    <thead>
      <th><a ng-click="sort_by('name')">name</a></th>
      <th><a ng-click="sort_by('style.name')">style</a></th>
      <th><a ng-click="sort_by('brewery.name')">brewery</a></th>
    </thead>
    <tr ng-repeat="beer in beers| orderBy:order | filter:searchText">
      <td>{{beer.name}}</td>
      <td>{{beer.style.name}}</td>
      <td>{{beer.brewery.name}}</td>
    </tr>
  </table>

</div>